@model PhotoGear

    <h1 class="bg-dark text-white text-center">
        <span>Details</span>
    </h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <label class="font-weight-bolder">Made In: </label> <a>@Model.MadeInCountry</a>
            </div>
            <div class="col">
                <label class="font-weight-bolder">Maker: </label> <a>@Model.Maker</a>
            </div>
            <div class="col">
                <label class="font-weight-bolder">Brand: </label> <a>@Model.Brand</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="font-weight-bolder">Model: </label> <a>@Model.Model</a>
            </div>
            <div class="col">
                <label class="font-weight-bolder">Serial Number: </label> <a>@Model.SerialNumber</a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
